<!DOCTYPE html>
<html>
  <head>
    <title>J3ms Queue | {{username}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:headline" content="J3ms Queue | {{username}}" />
    <meta name="twitter:headline" content="J3ms Queue | {{username}}" />

    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="{{cover_img}}" />
    <meta property="fc:frame:image:aspect_ratio" content="1:1" />
    <meta property="fc:frame:button:1" content="Update" />
    <meta
      property="fc:frame:input:text"
      content="Add (Spotify Link) to queue"
    />

    <style type="text/css">
      body {
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    {% if queue %}
    <img src="{{cover_img}}" width="300px" />
    <br />
    <a href="/{{username}}/{{queue[0]['id']}}"><button>Permalink</button></a>
    <br />
    <h3>Up Next</h3>
    <form method="post">
      <label>Add To Queue (Spotify Link):</label>
      <br />
      <input type="text" name="spotify_uri" />
      <br />
    </form>
    <ol>
      {% for qi in queue[1:] %}
      <li>
        <span>{{qi["name"]}} - {{qi["artists"]}}</span>
        {% if 'dj' in qi %}
        <ul>
          <li>
            added by {% if 'dj_link' in qi %}
            <a href="{{qi['dj_link']}}" target="_blank">{{qi["dj"]}}</a>
            {% else %} {{qi["dj"]}} {% endif %}
          </li>
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <h1>Nothing playing! Come back later</h1>
    {% endif %}
  </body>
</html>
